* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Helvetica, 'Droid Sans', Arial, 'lucida grande',
    tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  color: #615e58;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #fff;
  line-height: normal;
}

.nav {
  width: 100%;
  height: 55px;
  background-color: #fdd670;
  min-width: 315px;
  border-bottom: 1px solid #ffd670;
  display: flex;
  align-items: center;
}

.hamburger-menu {
  margin-left: 10px;
  background: none;
  border: none;
  padding: 10px;
  transition: all 100ms ease-in-out;
}

.hamburger-menu:hover {
  cursor: pointer;
  background: #eeb529;
}
.hide {
  display: none;
}

.logo {
  margin-left: 10px;
}
.chaldal-logo {
  background-image: url(./Assets/chaldal-logo.webp);
  background-repeat: no-repeat;
  background-size: contain;
  width: 154px;
  height: 50px; /* Required! */
}
